@model Szlem.Recruitment.Enrollments.GetEnrollmentDetails.RecruitmentFormSubmittedEventData
@using Szlem.AspNetCore.Views

<div class="card border-info">
    <div class="card-header alert-info"> <i class="fas fa-file-upload"></i> Kandydat wypełnił formularz rekrutacyjny</div>
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(model => model.DateTime.LocalDateTime)</h6>
        <div class="card-text">
            <dl class="row">
                @Html.DlFullRow(model => model.FullName)
                @Html.DlFullRow(model => model.EmailAddress)
                @Html.DlFullRow(model => model.PhoneNumber)
                @Html.DlFullRow(model => model.AboutMe)
                @Html.DlFullRow(model => model.PhoneNumber)
                <dt class="col-sm-3">Preferowane miasta prowadzenia zajęć</dt>
                <dd class="col-sm-9">@string.Join(", ", Model.PreferredLecturingCities)</ddclass="col-sm-3">
            </dl>
        </div>
    </div>
</div>